@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #222;
  font-family: 'Press Start 2P', sans-serif;
  color: #eee;
}
.btn {
  font-size: 2rem;
  cursor: pointer;
  background-color: #eee;
  color: #222;
  border: none;
  padding: 2rem 3rem;
  font-family: 'Press Start 2P', sans-serif;
}
.btn:hover {
  background-color: #ccc;
}
.between {
  font-size: 1.4rem;
}
.up-strip {
  padding: 2rem 2rem 0rem 2rem;
  display: flex;
  justify-content: space-between;
}
h1 {
  font-size: 4rem;
  text-align: center;
  margin-top: 2.7rem;
}
header {
  border-bottom: #eee solid 0.7rem;
  position: relative;
  height: 35vh;
}
.qt-symbol {
  font-size: 6rem;
  text-align: center;
  background: #eee;
  color: #333;
  width: 15rem;
  padding: 3rem 0rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}
main {
  color: #eee;
  height: 65vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#guess {
  color: inherit;
  background: none;
  border: 0.4rem solid #eee;
  width: 25rem;
  font-size: 5rem;
  padding: 2.5rem;
  text-align: center;
  display: block;
  margin-bottom: 3rem;
  font-family: 'Press Start 2P', sans-serif;
}
.left {
  width: 52rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right {
  width: 52rem;
  font-size: 2rem;
}
.message {
  margin-bottom: 8rem;
  height: 3rem;
}
.label-score {
  margin-bottom: 2rem;
}
